* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: #07100f;
  color: white;
  height: auto;
}

/* =========================
   HERO
========================= */

.hero {
  position: relative;

  width: 100%;
  height: 100vh;

  min-height: 650px;

  overflow: hidden;

  background: #07100f;
}

/* =========================
   BACKGROUND IMAGE
========================= */

.hero-image {
  position: absolute;

  inset: 0;

  background-image: url("./images/hero_image.png");

  background-size: cover;
  background-position: center;

  transform: scale(1.05);
}

/* =========================
   DARK OVERLAY
========================= */

.overlay {
  position: absolute;

  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(2, 10, 9, 0.78),
    rgba(2, 10, 9, 0.151),
    rgba(2, 10, 9, 0.65)
  );

  z-index: 1;
}

/* Additional darkness */

.overlay::after {
  content: "";

  position: absolute;

  inset: 0;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.199),
    transparent 30%,
    rgba(0, 0, 0, 0.603)
  );
}

/* =========================
   TOP MENU
========================= */

.menu {
  position: absolute;

  top: 20px;
  left: 35px;

  z-index: 5;

  color: #e8dfc7;

  font-size: 25px;

  letter-spacing: -0.3px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 34px;
  padding: 17px 60px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 46px;
  height: 5px;
  background: #e8dfc7;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.menu-nav {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  padding: 22px 28px;
  background: rgba(7, 16, 15, 0.94);
}

.menu-nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
}

.menu-nav li {
  position: relative;
  padding: 5px 10px;
  border-radius: 4px;
  overflow: hidden;
}

.menu-nav a {
  color: #e8dfc7;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

.menu-nav li {
  position: relative;
  overflow: hidden;
}

.menu-nav li::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #f6e6c1;
  transform: translateX(-100%);
  transition: transform 0.35s ease;
  z-index: 0;
}

.menu-nav li:hover::before {
  transform: translateX(0);
}

.menu-nav a {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.menu-nav a:hover {
  color: black;
}

.menu.is-open .menu-nav {
  display: block;
}

.menu.is-open .menu-toggle span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu.is-open .menu-toggle span:nth-child(2) {
  opacity: 0;
}

.menu.is-open .menu-toggle span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* =========================
   CONTACT BUTTON
========================= */

.contact {
  position: absolute;

  top: 18px;

  right: 34px;

  z-index: 5;

  color: #eee5d3;

  text-decoration: none;

  font-size: 28px;

  padding: 8px 8px;

  border-bottom: 1px solid rgba(230, 220, 200, 0.5);

  transition: 0.3s;

  overflow: hidden;
}

.contact:hover::before {
  transform: translateX(0);
}

.contact:before {
  content: "";
  position: absolute;
  inset: 0;
  background: #f6e6c1;
  transform: translateX(-100%);
  transition: transform 0.35s ease;
  z-index: -1;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

.contact:hover {
  color: black;
}

/* =========================
   HERO CONTENT
========================= */
.hero-content {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 4;
}

.description {
  position: absolute;

  top: 185px;
  left: 34px;

  z-index: 5;

  max-width: 490px;

  color: #899b97;

  font-size: clamp(14px, 1.5vw, 20px);

  line-height: 1.55;

  padding: 22px 53px;
}

/* =========================
   SERVICES
========================= */

.hero-content .services {
  position: absolute;

  right: 92px;
  top: 595px;

  z-index: 5;

  color: #899b97;

  font-size: 23px;

  line-height: 1.8;
}

.hero-content .services li {
  margin-bottom: 6px;

  list-style: circle;
}

.hero-content .services ul li::marker {
  color: #f6e6c1;

  font-size: 28px;
}

.hero-content .services li a {
  color: #899b97;

  text-decoration: none;

  transition: 0.3s;
}

.hero-content .services li a:hover {
  color: #f6e6c1;
}

/* =========================
   HERO TITLE
========================= */

.hero-title {
  position: absolute;

  left: 50%;
  bottom: 189px;

  transform: translateX(-50%);

  width: 100%;

  z-index: 4;

  text-align: center;

  white-space: nowrap;
}

.hero-title h1 {
  font-family: "Anton", sans-serif;

  font-size: clamp(90px, 10vw, 185px);

  font-weight: 400;

  line-height: 0.85;

  letter-spacing: 1px;

  color: #f6e6c1;

  text-transform: uppercase;

  padding: 22px 28px;
}

.hero-title span {
  color: #909e9bcb;
}
/* =========================
   SOCIAL LINKS
========================= */

.socials ul {
  position: absolute;

  left: 34px;
  bottom: 17px;

  z-index: 5;

  display: flex;

  flex-direction: row;

  gap: 48px;

  padding: 22px 50px;
}

.socials li {
  list-style: none;
}

.socials i {
  font-size: 23px;

  padding-right: 15px;
}

.socials a {
  color: #899b97;

  font-size: 23px;

  text-decoration: none;
}

.socials a:hover {
  color: #f6e6c1;
}

/* =========================
   SCROLL INDICATOR
========================= */

.scroll {
  position: absolute;

  left: 50%;
  bottom: 14px;

  transform: translateX(-50%);

  z-index: 5;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 8px;

  transition:
    opacity 0.35s ease,
    transform 0.35s ease;
}

body.is-scrolling .scroll {
  opacity: 0;
  transform: translateX(-50%) translateY(12px);
}

.scroll-line {
  width: 1px;

  height: 30px;

  background: rgba(255, 255, 255, 0.6);
}

.scroll span {
  color: #777d7b;

  font-size: 10px;
}

/* =========================
   SIDE LINES
========================= */

.side-line {
  position: fixed;

  top: 0;
  bottom: 0;

  width: 23px;

  z-index: 5;

  opacity: 1.45;
  pointer-events: none;
  overflow: hidden;
}

.left-line {
  left: 9px;
}

.right-line {
  right: 9px;
}

/* Main vertical line */

.side-line::before {
  content: "";

  position: absolute;

  left: 50%;

  top: 0;
  bottom: 0;

  width: 3px;

  background: rgba(160, 175, 170, 0.35);
}

/* =========================
   TICK MARKS
========================= */

.ticks {
  position: absolute;

  inset: 0;

  transform: translateY(calc(var(--scroll-progress, 0) * 36px));
  transition: transform 0.15s linear;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 8px,
    rgba(160, 175, 170, 0.849) 8px,
    transparent 10px,
    transparent 18px
  );
}

/* =========================
   SCROLL LINE
========================= */
.scroll-line {
  position: absolute;
  left: 50%;
  bottom: 49px;

  transform: translateX(-50%);

  z-index: 5;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 8px;

  height: 7cap;

  border: 2px solid rgba(255, 255, 255, 0.6);

  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  30% {
    transform: translateX(-50%) translateY(12px);
  }

  60% {
    transform: translateX(-50%) translateY(4px);
  }
}

.scroll-line p {
  display: block;

  width: 100%;

  height: 5px;

  font-size: 10px;
}

/* =========================
  Second Section/ About  Section CSS  
========================= */

/* =========================
  Third Section/ Service Section CSS  
========================= */

.service_section {
  display: flex;

  flex-direction: row;

  gap: 80px;

  padding: 17em 4em;

  height: 100vh;

  justify-content: center;

  background: white;

  width: 100%;
}

.service_section_title {
  font-size: clamp(30px, 7vw, 90px);

  color: #f6e6c1;

  text-align: center;

  margin-bottom: 1em;

  position: relative;
}

.service_section_title h1 {
  font-family: "Anton", sans-serif;

  color: #9c844c;

  text-align: center;

  margin-bottom: 1em;

  position: relative;

  left: -0.8em;

  top: -0.7em;
}

.services {
  display: flex;

  position: relative;

  top: 90px;

  right: -13em;

  flex-direction: column;

  gap: 80px;

  justify-content: center;
}

.service_1,
.service_2,
.service_3,
.service_4 {
  display: flex;

  flex-direction: column;

  gap: 40px;

  justify-content: center;

  width: clamp(200px, 22vw, 900px);
}

.service_1 i,
.service_2 i,
.service_3 i,
.service_4 i {
  font-size: 2.5em;

  color: #9c844c;
}

.service_1 h2,
.service_2 h2,
.service_3 h2,
.service_4 h2 {
  font-size: clamp(20px, 3vw, 50px);

  color: black;

  margin-bottom: 0.5em;
}

.service_1 p,
.service_2 p,
.service_3 p,
.service_4 p {
  font-size: clamp(15px, 1.5vw, 20px);

  color: black;

  line-height: 1.5;

  text-align: justify;
}

.services hr {
  border: 2px solid #9c844c;

  width: 100%;

  margin-top: 1em;
}



/* =========================
  Fourth Section/ Certifications Section CSS  
========================= */

.cert_section {
  position: relative;

  display: flex;

  flex-direction: row;

  align-items: center;

  width: 100%;

  height: 100vh;

  padding: 10rem 0rem 0rem 7rem;

  background-color: #193d2ead;

  overflow: hidden;

  gap: 8em;

  font-family: "Anton", sans-serif;
}

/* Dark overlay */
.cert_section::before {
  content: "";

  position: absolute;

  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  z-index: 0;
}

.certs-container {
  position: relative;

  z-index: 1;

  display: flex;

  flex-direction: column;

  width: 40%;

  gap: 3rem;

  padding-top: 18em;
}

.certs {
  display: flex;

  flex-direction: row;

  align-items: center;

  justify-content: space-between;

  width: 100%;

  gap: 3rem;

  white-space: nowrap;

  font-size: clamp(12px, 3vw, 30px);
}

.certs p {
  margin: 0;

  color: #9c844c;

  white-space: nowrap;
}

.certs-container hr {
  width: 100%;

  margin: 0;

  border: none;

  border-top: 1.8px solid #ffffff;
}

.cert_section_title {
  position: relative;

  top: -15em;

  z-index: 1;

  height: 5em;

  width: 50%;

  font-size: 2em;

  color: #9c844c;

  text-align: center;
}

.cert_section_title h1 {
  font-size: 6rem;
}


/* =========================
  Fifth Section/ Education Section CSS  
========================= */


.edu_section{
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  gap: clamp(3rem, 8vw, 10rem);

  padding: 8rem clamp(2rem, 7vw, 7.5rem);

  min-height: 100vh;

  overflow: hidden;
}

.edu-container{
  display: flex;

  position: relative;

  top: 0;

  flex-direction: column;

  gap: 2rem;

  width: min(38rem, 100%);

  padding: 0 0 0 2rem;

  border-left: 3px solid #9c844c;
}

.edu-container h1{
  margin: 0;

  font-size: clamp(5rem, 8vw, 9rem);

  font-family: "Anton", sans-serif;

  font-weight: 400;

  line-height: .85;

  text-align: left;

  position: relative;

  top: 0;

  color: #9c844c;

  letter-spacing: .02em;
}

.edu-container img {
    width: min(100%, 36rem);

    height: 60rem;

    position: relative;

    right: 0;

    border: 10px solid white;

    border-radius: 1rem;

    overflow: hidden;

    object-fit: cover;

    margin-top: 3rem;

    margin-bottom: 3rem;

    box-shadow: 14px 14px 0 rgba(156, 132, 76, 0.2);

    transition: transform .4s ease, box-shadow .4s ease;
  }

  .edu-container img:hover {
    transform: translateY(-18px);

    box-shadow: 14px 22px 0 rgba(156, 132, 76, 0.24);
}


.author_text{
  display: flex;

  flex-direction: row;

  gap: 1.25rem;

  width: 100%;

  margin-top: 1rem;

  align-items: flex-start;

  color: #899b97;
}

.author_text i {
  flex: 0 0 auto;

  padding: 1.25rem;

  color: #9c844c;

  font-size: 2.85rem;

  transform: rotate(-90deg);
}

.author_text h2 {
  margin: 0;

  font-size: clamp(1rem, 1.35vw, 1.35rem);

  font-weight: 400;

  line-height: 1.5;

  color: #899b97;
}


.schools{

  display: flex;

  flex-direction: column;


  gap: 5rem;

  overflow: hidden;


}

 /* the vertical line style */
.grade1:not(:last-child)::after, .grade2:not(:last-child)::after, .grade3:not(:last-child)::after, .grade4:not(:last-child)::after{
    content: "";

    position: absolute;

    left: 50%;

    bottom: -80px;

    width: 2px;

    height: 70px;

    background: white;
}

.grade1, .grade2, .grade3, .grade4 {
  display: flex;

  flex-direction: row;

  gap: 6rem;

  border: 1px solid rgb(8, 8, 8) ;

  border-radius: 13px;

  padding: 5rem 1rem;

  width: 100%;

  position: relative;

  background-color: black;


  opacity: 1;
  transform: translateX(0);
}

.grade1 i,.grade2 i, .grade3 i, .grade4 i {
  font-size: 3rem;

  color:#9c844c
}


.grade1 span, .grade2 span, .grade3 span, .grade4 span{
  display: flex;

  flex-direction: row;

  border:1px solid white;

  height: 10px;

  width: 10px;

  border-radius: 50%;
}

.dot{
  display: flex;

  flex-direction: row;

  gap: 10px;

  align-items: center;

  margin-left: auto;
}

/* dot dot color styling */

.grade1 .dot span:nth-child(1) {
    background: red;
}

.grade2 .dot span:nth-child(1), .grade2 .dot span:nth-child(2) {
    background: red;
}

.grade3 .dot span:nth-child(1), .grade3 .dot span:nth-child(2), .grade3 .dot span:nth-child(3) {
    background: red;
}

.grade4 .dot span:nth-child(1), .grade4 .dot span:nth-child(2), .grade4 .dot span:nth-child(3), .grade4 .dot span:nth-child(4) {
    background: red;
}

.grade_text{
   display: flex;

   flex-direction: column;

   gap: 20px;
}